<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    
  </head>
  <body>
    
    <div id="gallery">
      
      <img src="Website Photos/Instruments/INT-01.jpg">
      <img src="Website Photos/Instruments/INT-02.jpg">
      <img src="Website Photos/Instruments/INT-03.jpg">
      <img src="Website Photos/Instruments/INT-04.jpeg">
      <img src="Website Photos/Misc./MISC-01.jpg">
      <img src="Website Photos/Misc./MISC-02.jpeg">
      <img src="Website Photos/Misc./MISC-03.jpeg">
      <img src="Website Photos/Misc./MISC-04.DNG">
      <img src="Website Photos/Misc./MISC-05.jpg">
      <img src="Website Photos/Misc./MISC-06.jpg">
      <img src="Website Photos/Nature/NAT-01.jpeg">
      <img src="Website Photos/Nature/NAT-02.jpg">
      <img src="Website Photos/Nature/NAT-03.jpg">
      <img src="Website Photos/Nature/NAT-04.jpg">
      <img src="Website Photos/Nature/NAT-05.jpg">
      <img src="Website Photos/Nature/NAT-06.jpg">
      <img src="Website Photos/Nature/NAT-07.jpg">
      <img src="Website Photos/Nature/NAT-08.jpg">
      <img src="Website Photos/Nature/NAT-09.jpg">
      <img src="Website Photos/Nature/NAT-10.jpeg">
      <img src="Website Photos/Nature/NAT-11.jpeg">
      <img src="Website Photos/Nature/NAT-12.jpeg">
      <img src="Website Photos/Nature/NAT-13.JPG">
      <img src="Website Photos/Nature/NAT-14.jpeg">
      <img src="Website Photos/Nature/NAT-15.jpg">
      <img src="Website Photos/Nature/NAT-16.jpeg">
      <img src="Website Photos/Nature/NAT-17.jpeg">
      <img src="Website Photos/Nature/NAT-18.jpeg">
      <img src="Website Photos/Nature/NAT-19.jpeg">
      <img src="Website Photos/Nature/NAT-20.jpeg">
      <img src="Website Photos/Nature/NAT-21.jpg">
      <img src="Website Photos/Nature/NAT-22.jpg">
      <img src="Website Photos/Nature/NAT-23.jpg">
      <img src="Website Photos/Nature/NAT-24.jpg">
      <img src="Website Photos/Nature/NAT-25.jpg">
      <img src="Website Photos/Nature/NAT-26.jpeg">
      <img src="Website Photos/Nature/NAT-27.jpeg">
      <img src="Website Photos/Nature/NAT-28.jpeg">
      <img src="Website Photos/Nature/NAT-29.jpeg">
      <img src="Website Photos/Nature/NAT-30.jpg">
      <img src="Website Photos/Nature/NAT-31.jpg">
      <img src="Website Photos/Nature/NAT-32.jpeg">
      <img src="Website Photos/Nature/NAT-33.jpg">
      <img src="Website Photos/Nature/NAT-34.jpg">
      <img src="Website Photos/Nature/NAT-35.jpg">
      <img src="Website Photos/Nature/NAT-36.jpeg">
      <img src="Website Photos/Nature/NAT-37.jpeg">
      <img src="Website Photos/Nature/NAT-38.jpeg">
      <img src="Website Photos/Nature/NAT-39.jpeg">
      <img src="Website Photos/Nature/NAT-40.jpeg">
      <img src="Website Photos/Nature/NAT-41.jpeg">
      <img src="Website Photos/Nature/NAT-42.jpeg">
      <img src="Website Photos/Nature/NAT-43.jpg">
      
      
    
    </div>
  </body>
</html>
